.container2{
    width: 100%;
    display: flex;
    background-color: blueviolet;

}

.left2{
    width: 15rem;
    display: flex;
    justify-content: center;
    background-color: black;
    position: relative;
}

.form2{
    width: 90%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
    position: sticky;
}

.form2 input{
    width: 100%;
    padding: 0.5rem;
}

.form2 button{ 
    width: 100%;
    padding: 0.5rem;
    background-color: blueviolet;
    border-radius: 10px;  
}

.right2{
    width: 100%;
    padding: 3rem;
    display: flex;
    gap:2rem;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width:575px) {
    .container{
        flex-direction: column;
    }
    
}